# Week 12 Problem 2

If you are not using the `Assignments` tab on the course JupyterHub server to read this notebook, read [Activating the assignments tab](https://github.com/UI-DataScience/info490-fa16/blob/master/Week2/assignments/README.md).

A few things you should keep in mind when working on assignments:

1. Make sure you fill in any place that says `YOUR CODE HERE`. Do **not** write your answer in anywhere else other than where it says `YOUR CODE HERE`. Anything you write anywhere else will be removed or overwritten by the autograder.

2. Before you submit your assignment, make sure everything runs as expected. Go to menubar, select _Kernel_, and restart the kernel and run all cells (_Restart & Run all_).

3. Do not change the title (i.e. file name) of this notebook.

4. Make sure that you save your work (in the menubar, select _File_ → _Save and CheckPoint_)

5. You are allowed to submit an assignment multiple times, but only the most recent submission will be graded.

In [1]:
from nose.tools import assert_equal

This week's assignment is one long, continous problem, but I split it into three sections for easier grading:

    1.CREATE a table named flights, import 2001.csv, and CREATE another table iata, import iata.csv.
    2.JOIN flights and iata by matching the IATA code, and INSERT a new row in the table, and
    3.SELECT summary information and a query.
    
Normally, we would use the SQLite command line tool to perform the database tasks in this assignment. For example, we could do

    $ sqlite3 mydatabase.db
    SQLite version 3.8.2 2013-12-06 14:53:30
    Enter ".help" for instructions
    Enter SQL statements terminated with a ";"
    sqlite>
    
which brings up an interactive prompt, where you can enter SQL commands line by line. Or you could write an SQL script in text file format (e.g. airport.sql) and run it from the command line with

    $ sqlite3 mydatabase.db < airport.sql
    
You might find it easier to practice and debug using the command line, but in this notebook, we will write our SQL statements to a text file using the [writefile magic](https://ipython.org/ipython-doc/3/interactive/magics.html#cellmagic-writefile) function. We will also use IPython's ! function ([IPython](http://ipython-minrk.readthedocs.io/en/latest/interactive/shell.html) as a system shell ; see also [system shell commands](https://ipython.org/ipython-doc/dev/interactive/tutorial.html#system-shell-commands) and [system shell access](https://ipython.org/ipython-doc/dev/interactive/reference.html#system-shell-access)).

In the following code cell, modify the CSV_PATH variable if your 2001.csv file is in a different place.

In [2]:
CSV_PATH = "/home/data_scientist/data/2001.csv" # edit this path if necessary

We will create a [sym link](https://en.wikipedia.org/wiki/Symbolic_link#POSIX_and_Unix-like_operating_systems) in the current directory. Do not edit the following code cell. Change the CSV_PATH variable instead.

In [3]:
!ln -s $CSV_PATH 2001.csv

ln: failed to create symbolic link ‘2001.csv’: File exists

In [4]:
!head 2001.csv

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2001,1,17,3,1806,1810,1931,1934,US,375,N700��,85,84,60,-3,-4,BWI,CLT,361,5,20,0,NA,0,NA,NA,NA,NA,NA
2001,1,18,4,1805,1810,1938,1934,US,375,N713��,93,84,64,4,-5,BWI,CLT,361,9,20,0,NA,0,NA,NA,NA,NA,NA
2001,1,19,5,1821,1810,1957,1934,US,375,N702��,96,84,80,23,11,BWI,CLT,361,6,10,0,NA,0,NA,NA,NA,NA,NA
2001,1,20,6,1807,1810,1944,1934,US,375,N701��,97,84,66,10,-3,BWI,CLT,361,4,27,0,NA,0,NA,NA,NA,NA,NA
2001,1,21,7,1810,1810,1954,1934,US,375,N768��,104,84,62,20,0,BWI,CLT,361,4,38,0,NA,0,NA,NA,NA,NA,NA
2001,1,22,1,1807,1810,1931,1934,US,375,N722��,84,84,61,-3,-3,BWI,CLT,361,12,11,0,NA,0,NA,NA,NA,NA,NA
2001,1,23,2,1802,1810,1924,1934,US,375,N732��,82,84,61,-10,-8,BWI,CLT,361,5,16,0,NA,0,NA,NA,NA,NA,NA
2001,1,24,3,1804,1810,1922,1934,US,375,N737��,78,84,60,-12,-6,BWI,CLT,361,4,14,0,NA,0,NA,NA,NA,NA,NA
2001,1,25,4,1812,1810,1925,1934,US,375,N767��,73,84,52,-9,2,BWI,CLT,361,6,15,0,NA,0,NA,NA,NA,NA,NA

In the following code cell, we use the writefile magic function to write a schema that imports 2001.csv and creates a new table named flights.

In [5]:
%%writefile airport.sql

DROP TABLE IF EXISTS flights;

CREATE TABLE flights (
    year INT,
    month INT,
    dayOfMonth INT,
    dayOfWeek INT,
    actualDepartureTime INT,
    scheduledDepartureTime INT,
    arrivalArrivalTime INT,
    scheduledArrivalTime INT,
    uniqueCarrierCode TEXT,
    flightNumber INT,
    tailNumber TEXT,
    actualElapsedTime INT,
    scheduledElapsedTime INT,
    airTime INT,
    arrivalDelay INT,
    departureDelay INT,
    originCode TEXT,
    destinationCode TEXT,
    distance INT,
    taxiIn INT,
    taxiOut INT,
    cancelled INT,
    cancellationCode TEXT,
    diverted INT,
    carrierDelay INT,
    weatherDelay INT,
    nasDelay INT,
    securityDelay INT,
    lateAircraftDelay INT
);

.separator ,
.import 2001.csv flights

-- Our file has a header. The following line deletes the header.
DELETE FROM flights WHERE Year='Year';

Overwriting airport.sql

We will name our database assignment.db and use IPython's ! magic to redirect the airport.sql code to sqlite3.

In [6]:
!sqlite3 assignment.db < airport.sql

## Problem 1: Creating a Database

### 1.1 Count flights table
- In the following code cell, write an SQL statement that counts the number of rows in the flights table.

Note that comments in SQL begin with -- (not #).

In [7]:
%%writefile count_lines_flights.sql

-- YOUR CODE HERE
-- Count the first column to get the number of rows
SELECT COUNT(f.year) 
    FROM flights AS f ;

Overwriting count_lines_flights.sql

Run the following code cell to check the output of count_lines_flights.sql.  Make sure that this cell passes.

In [8]:
nlines_flights = !sqlite3 assignment.db < count_lines_flights.sql
print(nlines_flights.s)
assert_equal(nlines_flights.s, "5967780")

5967780

### 1.2 Creating another table
We will use another CSV file [iata.csv](https://github.com/UI-DataScience/info490-fa15/blob/master/Week12/assignment/iata.csv) (available on GitHub) to create a new table. The following code cell downloads iata.csv from GitHub and saves it to the current directory.

In [9]:
!wget -O iata.csv https://raw.githubusercontent.com/UI-DataScience/info490-fa15/master/Week12/assignment/iata.csv

--2016-11-10 02:12:16--  https://raw.githubusercontent.com/UI-DataScience/info490-fa15/master/Week12/assignment/iata.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.44.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.44.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 850313 (830K) [text/plain]
Saving to: ‘iata.csv’

iata.csv            100%[=====================>] 830.38K  --.-KB/s   in 0.1s

2016-11-10 02:12:16 (7.07 MB/s) - ‘iata.csv’ saved [850313/850313]

- In the following code cell, write your own schema and SQL script to import iata.csv and create a new table named iata. The names of the columns should be

    airportID, name, city, country, iata, icao, latitude, longitude, altitude, timeZone, dst, tzDatabaseTimeZone
    
Also make sure that your data types are all correct. Use head or otherwise to check the CSV file. If a value is enclosed by quotation marks, it should be a TEXT. If a field has a decimal point, it should be a REAL. If a field is a number with no decimal point, it should be an INT.

In [10]:
%%writefile import_iata.sql

-- YOUR CODE HERE
-- Delete the table if exists
DROP TABLE IF EXISTS iata;

-- Create the table
CREATE TABLE iata (
    airportID INT,
    name TEXT,
    city TEXT,
    country TEXT, 
    iata TEXT,
    icao TEXT,
    latitude REAL,
    longitude REAL,
    altitude INT,
    timeZone INT,
    dst TEXT,
    tzDatabaseTimeZone TEXT
);
-- Define the separator
.separator ,
-- import the data to the table iata
.import iata.csv iata

Overwriting import_iata.sql

The following code cell should create a new table named iata in the database assignment.db.

In [11]:
!sqlite3 assignment.db < import_iata.sql

I think it's a good idea to print out a few lines and see if the table looks okay.

In [12]:
!sqlite3 assignment.db "SELECT * FROM iata LIMIT 10"

1|Goroka|Goroka|Papua New Guinea|GKA|AYGA|-6.081689|145.391881|5282|10|U|Pacific/Port_Moresby
2|Madang|Madang|Papua New Guinea|MAG|AYMD|-5.207083|145.7887|20|10|U|Pacific/Port_Moresby
3|Mount Hagen|Mount Hagen|Papua New Guinea|HGU|AYMH|-5.826789|144.295861|5388|10|U|Pacific/Port_Moresby
4|Nadzab|Nadzab|Papua New Guinea|LAE|AYNZ|-6.569828|146.726242|239|10|U|Pacific/Port_Moresby
5|Port Moresby Jacksons Intl|Port Moresby|Papua New Guinea|POM|AYPY|-9.443383|147.22005|146|10|U|Pacific/Port_Moresby
6|Wewak Intl|Wewak|Papua New Guinea|WWK|AYWK|-3.583828|143.669186|19|10|U|Pacific/Port_Moresby
7|Narsarsuaq|Narssarssuaq|Greenland|UAK|BGBW|61.160517|-45.425978|112|-3|E|America/Godthab
8|Nuuk|Godthaab|Greenland|GOH|BGGH|64.190922|-51.678064|283|-3|E|America/Godthab
9|Sondre Stromfjord|Sondrestrom|Greenland|SFJ|BGSF|67.016969|-50.689325|165|-3|E|America/Godthab
10|Thule Air Base|Thule|Greenland|THU|BGTL|76.531203|-68.703161|251|-4|E|America/Thule

Make sure that the following code cell doesn't raise any errors. You don't have to understand what the SQL statement means. It simply checks if there exists a table named iata in the database and prints out iata if it exists.

In [13]:
iata_exists = !sqlite3 assignment.db "SELECT name FROM sqlite_master WHERE type='table' and name='iata'"
assert_equal(iata_exists.s, "iata")

You don't have to understand the code in the following tests, but make sure that your SQL script passes the tests.

In [14]:
iata_info = !sqlite3 assignment.db "PRAGMA table_info(iata)"
iata_names = [i.split("|")[1] for i in iata_info]
iata_names_answer = [
    "airportID",
    "name",
    "city",
    "country",
    "iata",
    "icao",
    "latitude",
    "longitude",
    "altitude",
    "timeZone",
    "dst",
    "tzDatabaseTimeZone"
]
assert_equal(len(iata_names), len(iata_names_answer))
assert_equal(set(iata_names), set(iata_names_answer))

### 1.3. Count iata table
- Count the number or rows in the iata table.

In [15]:
%%writefile count_lines_iata.sql

-- YOUR CODE HERE
-- Count the first column to get the number of rows
SELECT COUNT(i.airportID) 
    FROM iata AS i ;

Overwriting count_lines_iata.sql

In [16]:
nlines_iata = !sqlite3 assignment.db < count_lines_iata.sql
print(nlines_iata.s)

assert_equal(nlines_iata.s, "8107")

8107

## Problem 2. Data Manipulation

### 2.1 Joining tables
-Join flights and iata tables by matching the IATA codes of the destinationCode column in flights to the IATA codes of the iata column in iata. Combine them into a new table named myTable, which should have the following columns:
    month, dayOfMonth, uniqueCarrierCode, flightNumber, scheduledDepartureTime, diverted, city

All columns excpet city come from the flights table. The city column comes from the iata table, and it's the full city name of the airport that corresponds to destinationCode.

In other words, if we did

    SELECT
    month,
    dayOfMonth,
    uniqueCarrierCode,
    flightNumber,
    scheduledDepartureTime,
    diverted,
    destinationCode
    FROM flights
    LIMIT 10;
    
we would have

    1|17|US|375|1810|0|CLT
    1|18|US|375|1810|0|CLT
    1|19|US|375|1810|0|CLT
    1|20|US|375|1810|0|CLT
    1|21|US|375|1810|0|CLT
    1|22|US|375|1810|0|CLT
    1|23|US|375|1810|0|CLT
    1|24|US|375|1810|0|CLT
    1|25|US|375|1810|0|CLT
    1|26|US|375|1810|0|CLT
    
Translate all the IATA codes (CLTs in this example) to actual city names so that when you do

    SELECT * FROM myTable LIMIT 10;

you get

    1|17|US|375|1810|0|Charlotte
    1|18|US|375|1810|0|Charlotte
    1|19|US|375|1810|0|Charlotte
    1|20|US|375|1810|0|Charlotte
    1|21|US|375|1810|0|Charlotte
    1|22|US|375|1810|0|Charlotte
    1|23|US|375|1810|0|Charlotte
    1|24|US|375|1810|0|Charlotte
    1|25|US|375|1810|0|Charlotte
    1|26|US|375|1810|0|Charlotte

In [17]:
%%writefile join.sql

-- YOUR CODE HERE
-- Delete the table if exists
DROP TABLE IF EXISTS myTable;
-- Create myTable
CREATE TABLE myTable (
    month INT,
    dayOfMonth INT,
    uniqueCarrierCode TEXT,
    flightNumber INT,
    scheduledDepartureTime INT,
    diverted INT,
    city TEXT
) ;
-- Copy the data to myTable
INSERT INTO myTable(month, dayOfMonth, uniqueCarrierCode, flightNumber, scheduledDepartureTime, diverted, city) 
    SELECT f.month,f.dayOfMonth,f.uniqueCarrierCode,f.flightNumber,f.scheduledDepartureTime,f.diverted,i.city 
    FROM flights AS f, iata AS i
    WHERE f.destinationCode = i.iata;

Overwriting join.sql

In [18]:
!sqlite3 assignment.db < join.sql

In [19]:
!sqlite3 assignment.db "SELECT * FROM myTable LIMIT 10;"

1|17|US|375|1810|0|Charlotte
1|18|US|375|1810|0|Charlotte
1|19|US|375|1810|0|Charlotte
1|20|US|375|1810|0|Charlotte
1|21|US|375|1810|0|Charlotte
1|22|US|375|1810|0|Charlotte
1|23|US|375|1810|0|Charlotte
1|24|US|375|1810|0|Charlotte
1|25|US|375|1810|0|Charlotte
1|26|US|375|1810|0|Charlotte

In [20]:
mytable_exists = !sqlite3 assignment.db "SELECT name FROM sqlite_master WHERE type='table' AND name='myTable';"
assert_equal(mytable_exists.s, "myTable")

table_info = !sqlite3 assignment.db "PRAGMA table_info(myTable);"

mytable_names = [i.split("|")[1] for i in table_info]
mytable_names_answer = [
    'month', 'dayOfMonth', 'uniqueCarrierCode', 'flightNumber', 'scheduledDepartureTime', 'diverted', 'city'
]
assert_equal(len(mytable_names), len(mytable_names_answer))
assert_equal(set(mytable_names), set(mytable_names_answer))

# do some sample queries
mytable_count_ord = !sqlite3 assignment.db "SELECT COUNT(*) FROM myTable WHERE city='Chicago';"
assert_equal(mytable_count_ord.s, "391776")

mytable_count_sfo = !sqlite3 assignment.db "SELECT COUNT(*) FROM myTable WHERE city='San Francisco';"
assert_equal(mytable_count_sfo.s, "121738")

### 2.2 Inserting

Insert a new row into myTable. This flight
- took place on September 9, 2001,
- its uniqueCarrierCode was INFO,
- its flightNumber was 490,
- its scheduledDepartureTime was 0800,
- was diverted (i.e. diverted == 1), and
- left from Champaign.

In [21]:
%%writefile insert.sql

-- YOUR CODE HERE
-- Insert a new row into table myTable
INSERT INTO myTable
VALUES(9, 9, 'INFO', 490, 0800, 1, 'Champaign') ;

Overwriting insert.sql

In [22]:
!sqlite3 assignment.db < insert.sql

In [23]:
info_month = !sqlite3 assignment.db "SELECT month FROM myTable WHERE uniqueCarrierCode='INFO';"
info_day = !sqlite3 assignment.db "SELECT dayOfMonth FROM myTable WHERE uniqueCarrierCode='INFO';"
info_flight_no = !sqlite3 assignment.db "SELECT flightNumber FROM myTable WHERE uniqueCarrierCode='INFO';"
info_crs_dep = !sqlite3 assignment.db "SELECT scheduledDepartureTime FROM myTable WHERE uniqueCarrierCode='INFO';"
info_diverted = !sqlite3 assignment.db "SELECT diverted FROM myTable WHERE uniqueCarrierCode='INFO';"
info_dest = !sqlite3 assignment.db "SELECT city FROM myTable WHERE uniqueCarrierCode='INFO';"

print('''
UniqueCarrierCode: {0}
Month: {1}
Day: {2}
Flight Number: {3}
Scheduled Departure Time: {4}
Diverted: {5}
Origin City: {6}
'''.format(
    "INFO",
    info_month.s,
    info_day.s,
    info_flight_no.s,
    info_crs_dep.s,
    info_diverted.s,
    info_dest.s
    )
)

UniqueCarrierCode: INFO
Month: 9
Day: 9
Flight Number: 490
Scheduled Departure Time: 800
Diverted: 1
Origin City: Champaign

In [24]:
assert_equal("9", info_month.s)
assert_equal("9", info_day.s)
assert_equal("490", info_flight_no.s)
assert_equal("800", info_crs_dep.s)
assert_equal("1", info_diverted.s)
assert_equal("Champaign", info_dest.s)

## Problem 3. Query

### 3.1 Average
- Compute the average of the departureDelay column in the flights table.

In [25]:
%%writefile get_average_depdelay.sql

-- YOUR CODE HERE
-- Ignore the 'NA' and compute the average of the departureDelay column in the flights table.
SELECT AVG(f.departureDelay) 
    FROM flights AS f 
    WHERE f.departureDelay IS NOT "NA";

Overwriting get_average_depdelay.sql

In [26]:
average_depdelay = !sqlite3 assignment.db < get_average_depdelay.sql
print(average_depdelay)
assert_equal(average_depdelay.s, '8.15483749731112')

['8.15483749731112']

### 3.2 Maximum
- Compute the maximum of the departureDelay column in the flights table.

In [27]:
%%writefile get_maximum_depdelay.sql

-- YOUR CODE HERE
-- Ignore the 'NA' and compute the maximum of the departureDelay column in the flights table.
SELECT MAX(f.departureDelay) 
    FROM flights AS f
    WHERE f.departureDelay IS NOT "NA";

Overwriting get_maximum_depdelay.sql

In [28]:
maximum_depdelay = !sqlite3 assignment.db < get_maximum_depdelay.sql
print(maximum_depdelay)
assert_equal(maximum_depdelay.s, '1692')

['1692']

### 3.3 Minimum
- Compute the minimum of the departureDelay column in the flights table.

In [29]:
%%writefile get_minimum_depdelay.sql

-- YOUR CODE HERE
-- Ignore the 'NA' and compute the minimum of the departureDelay column in the flights table.
SELECT MIN(f.departureDelay) 
    FROM flights AS f
    WHERE f.departureDelay IS NOT "NA";

Overwriting get_minimum_depdelay.sql

In [30]:
minimum_depdelay = !sqlite3 assignment.db < get_minimum_depdelay.sql
print(minimum_depdelay)
assert_equal(minimum_depdelay.s, '-204')

['-204']

### 3.4 Search
Finally, find every flight in myTable that
- was in September,
- was scheduled to depart between 0745 and 0815 (not including 0745 and 0815),
- was scheduled to arrive at San Francisco, and
- was diverted (i.e. diverted == 1).

and display the following columns:
    
    Month, dayOfMonth, uniqueCarrierCode, and flightNumber.

In [31]:
%%writefile find.sql

-- YOUR CODE HERE
-- Find every flight in myTable that was in September, scheduled to depart between 0745 and 0815 (not including 0745 and 0815),
-- was scheduled to arrive at San Francisco, and was diverted 
SELECT Month, dayOfMonth, uniqueCarrierCode, flightNumber 
FROM myTable 
WHERE (Month = 9) AND (scheduledDepartureTime > 0745) AND (scheduledDepartureTime < 0815) AND (city = 'San Francisco') AND (diverted = 1) ;

Overwriting find.sql

In [32]:
query = !sqlite3 assignment.db < find.sql
print(query)

query_answer = ['9|11|UA|93', '9|11|UA|301', '9|11|UA|805', '9|11|UA|809', '9|22|UA|2377', '9|11|US|63', '9|11|AA|59']

assert_equal(len(query), len(query_answer))
assert_equal(set(query), set(query_answer))

['9|11|UA|93', '9|11|UA|301', '9|11|UA|805', '9|11|UA|809', '9|22|UA|2377', '9|11|US|63', '9|11|AA|59']